@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap);

html {
	font-size: 1.5em;
}

body {
    max-width: 1024px;
    margin: 1rem auto;
    padding: 0 3rem;
    background-color: #c1c2c0;
    color: #323834;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    line-height: 1.65;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/* Text Elements */

p {
    margin-bottom: 1.15rem;
}
h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.05rem;
    font-weight: 800;
    line-height: 1.15;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
    margin-top: 1rem;
}

h1 {
    font-size: 2.488rem;
}
h2 {
    font-size: 2.074rem;
}
h3 {
    font-size: 1.728rem;
}
h4 {
    font-size: 1.44rem;
}
h3 + h4 {
    margin-top: 0;
}
h5 {
    font-size: 1.2rem;
}
small {
    font-size: 0.833rem;
}

a {
    color: #843733;
    cursor: pointer;
    white-space: nowrap;
}

dl dt {
    font-style: italic;
    font-weight: bold;
}

dd + dt {
    margin-top: 1.15rem;
}

img {
    width: 100%;
}

nav {
	margin: 0 0 1.05rem;
}

section {
    padding: 1em;
    background-color: #ebebea;
    border: 0.0625rem solid #bdc3c7;
    box-shadow: 0 0 0.25rem #bdc3c7;
    margin-bottom: 1.3rem;
 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

iframe {
	margin-bottom: 1rem;
	border: 0;
	height: 400px;
	width: 400px;
}

figure {
    margin: 0 0 1rem;
    padding: 0;
    width: 100%;
}

figure img {
    border: 0.0625rem solid #bdc3c7;
}

figure figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.833rem;
}


.albums-list, .website-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.website-list__item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: 2rem;
    font-weight: bold;
}
.website-list__item img {
    border: 0.0625rem solid #c1c2c0;
}

@media all and (max-width: 1000px) {
    .website-list {
        justify-content: space-around;
    }
    .website-list__item {
        max-width: 100%;
        margin-bottom: 2rem;
    }
}


header,
footer {
	text-align: center;
}


@media all and (max-width: 600px) {
	body {
		margin: 0;
		padding: 1rem 0;
	}
	header {
		padding: 0 1rem;
		flex-flow: column;
		justify-content: space-around;
	}
	main h1 {
		padding-left: 1rem;
	}
	.website-list__item {
        max-width: 100%;
        margin-bottom: 2rem;
    }
}
