@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap);

html {
	font-size: 1.5em;
}

body {
    max-width: 1024px;
    margin: 1em auto;
    padding: 0 3em;
    background-color: #c1c2c0;
    color: #323834;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    line-height: 1.65;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/* Text Elements */

p {
    margin-bottom: 1.15rem;
}
h1, h2, h3, h4, h5 {
    /*margin: 2.75rem 0 1.05rem;*/
    margin: 0 0 1.05rem;
    font-weight: 800;
    line-height: 1.15;
}
h1 {
    font-size: 2.488em;
}
h2 {
    font-size: 2.074em;
}
h3 {
    font-size: 1.728em;
}
h4 {
    font-size: 1.44em;
}
h5 {
    font-size: 1.2em;
}
small {
    font-size: 0.833em;
}

a {
    color: #843733;
    cursor: pointer;
    white-space: nowrap;
}

nav {
	margin: 0 0 1.05rem;
}

section {
    padding: 1em;
    background-color: #ebebea;
    border: 1px solid #bdc3c7;
    box-shadow: 0 0 4px #bdc3c7;
    margin-bottom: 1.3em;
 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.albums-list, .website-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

iframe {
	margin-bottom: 1em;
	border: 0;
	height: 400px;
	width: 400px;
}

.website-list__item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: 1em;
    font-weight: bold;
}
.website-list__item img {
    border: 1px solid #c1c2c0;
}

@media all and (max-width: 1000px) {
    .website-list {
        justify-content: space-around;
    }
    .website-list__item {
        max-width: 100%;
        margin-bottom: 2em;
    }
}


header,
footer {
	text-align: center;
}


@media all and (max-width: 500px) {
	body {
		margin: 0;
		padding: 3em 0;
	}
	header {
		padding: 0 1em;
		flex-flow: column;
		justify-content: space-around;
	}
	main h1 {
		padding-left: 1rem;
	}
	.website-list__item {
        max-width: 100%;
        margin-bottom: 2em;
    }
}
